@model CQRS_MediatR.Models.User

@{
    ViewData["Title"] = "Удалить пользователя";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить пользователя?</h3>
<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Id</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            <a>Имя</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            <a>Логин</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            <a>Хеш-пароль</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassHash)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
